{{ 'video-hero.css' | asset_url | stylesheet_tag }}


{%- liquid
  assign video_url = section.settings.video_url
  assign image_overlay = section.settings.image
  assign shadow_amount = section.settings.overlay_shadow | divided_by: 100.00
  assign shadow_amount_lesser = shadow_amount | minus: 0.04
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00
  assign align = section.settings.alignment | split: "_"
  assign enable_text_overlay = true

  if shadow_amount == 0
    assign enable_text_overlay = false
  endif

  assign brightness_button = section.settings.color_background_button | color_brightness
  if brightness_button > 60
    assign color_background_button_hover = section.settings.color_background_button | color_darken: 20
    else
    assign color_background_button_hover = section.settings.color_background_button | color_lighten: 20
  endif
-%}
<div class="page-width">
<div
  data-section-id="{{ section.id }}"
  data-section-type="video-hero"
  class="
    video-hero
    video-hero--{{ aspect_ratio }}
    {% if enable_text_overlay %}video-hero--has-shadow{% endif %}
  "
  style="
    --color-text: {{ section.settings.color_text }};
    --color-overlay: {{ section.settings.color_overlay }};
    --overlay-opacity: {{ overlay_opacity }};
    --text-shadow-amount: {{ shadow_amount }};
    --text-shadow-amount-lesser: {{ shadow_amount_lesser }};
    --desktop-height: {{ section.settings.desktop_height }}vh;
    --mobile-height: {{ section.settings.mobile_height }}vh;
  "
>
  <div class="video-hero__video-wrapper">
    <div class="video-bkg"></div>
    {%- if video_url != blank -%}
      {%- if image_overlay != blank -%}
        {% render 'image' with image: image_overlay, disable_style: true, wrapper_class: 'video-hero__image' %}
      {%- endif -%}

      <video class="video-hero__video" autoplay playsinline loop muted src="{{ video_url }}"></video>
      {% render 'video-pause' %}
    {%- else -%}
      {%- if image_overlay != blank -%}
        {% render 'image' with image: image_overlay, disable_style: true, wrapper_class: 'video-hero__image' %}
      {%- else -%}
        <div class="placeholder-image">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
    {%- endif -%}

    <div class="video-hero__overlay"></div>

    <div class="video-hero__content-wrapper">
      <div
        class="
          video-hero__content
          video-hero__content--h-{{ align[0] }}
          video-hero__content--v-{{ align[1] }}
        "
      >
        <div class="video-hero__content-inner">
          {%- for block in section.blocks -%}
            {% liquid 
              case block.settings.position
                when 'top'
                  assign top_CSS = '0px'
                  assign left_CSS = '50%'
                  assign right_CSS = 'unset'
                  assign bottom_CSS = 'unset'
                  assign transform_CSS = 'translateX(-50%)'
                when 'right'
                  assign top_CSS = '50%'
                  assign right_CSS = '0'
                  assign bottom_CSS = 'unset'
                  assign left_CSS = 'unset'
                  assign transform_CSS = 'translateY(-50%)'
                when 'bottom'
                  assign top_CSS = 'unset'
                  assign right_CSS = 'unset'
                  assign bottom_CSS = '0'
                  assign left_CSS = '50%'
                  assign transform_CSS = 'translateX(-50%)'
                when 'left'
                  assign top_CSS = '50%'
                  assign right_CSS = 'unset'
                  assign bottom_CSS = 'unset'
                  assign left_CSS = '0'
                  assign transform_CSS = 'translateY(-50%)'         
                when 'center'
                  assign top_CSS = '50%'
                  assign right_CSS = 'unset'
                  assign bottom_CSS = 'unset'
                  assign left_CSS = '50%'
                  assign transform_CSS = 'translate(-50%, -50%)'                                      
              endcase

              assign margin_top_CSS = block.settings.position_top 
              assign margin_right_CSS = block.settings.position_right
              assign margin_bottom_CSS = block.settings.position_bottom
              assign margin_left_CSS = block.settings.position_left
              assign letter_spacing_CSS = block.settings.letter_spacing
            %}

            {%- case block.type -%}

              {%- when 'heading' -%}
                <h4
                  class="video-hero__heading ff-heading animate"
                  style="
                    --text-max-width: {{ block.settings.text_max_width }}rem;
                    --heading-font-size: {{ block.settings.heading_text_size }}px;
                    
                    font-size: {{ block.settings.heading_text_size }}px;
                    letter-spacing: {{ letter_spacing_CSS }}px;
                    top: {{ top_CSS }};
                    right: {{ right_CSS }};
                    bottom: {{ bottom_CSS }};
                    left: {{ left_CSS }};
                    transform: {{ transform_CSS }};
                    margin-top: {{ margin_top_CSS  }}px;
                    margin-right: {{ margin_right_CSS  }}px;
                    margin-bottom: {{ margin_bottom_CSS  }}px;
                    margin-left: {{ margin_left_CSS  }}px;
                  "
                >
                  {{ block.settings.title | newline_to_br }}
                </h4>

              {%- when 'subheading' -%}
                <div
                  class="video-hero__subheading ff-body fs-body-large animate"
                  style="
                    --color-text: {{ section.settings.color_text }};
                    --text-max-width: {{ block.settings.text_max_width }}rem;
                    --heading-font-size: {{ block.settings.heading_text_size }}px;

                    font-size: {{ block.settings.subheading_text_size }}px;
                    letter-spacing: {{ letter_spacing_CSS }}px;
                    top: {{ top_CSS }};
                    right: {{ right_CSS }};
                    bottom: {{ bottom_CSS }};
                    left: {{ left_CSS }};
                    transform: {{ transform_CSS }};
                    margin-top: {{ margin_top_CSS  }}px;
                    margin-right: {{ margin_right_CSS  }}px;
                    margin-bottom: {{ margin_bottom_CSS  }}px;
                    margin-left: {{ margin_left_CSS  }}px;
                  "
                >
                  {{ block.settings.subheading }}
                </div>

              {%- when 'button' -%}
                <div
                  class="video-hero__button-wrapper"
                  style="
                    --color-background-button: {{ section.settings.color_background_button }};
                    --color-background-button-hover: {{ color_background_button_hover }};
                    --color-text-button: {{ section.settings.color_text_button }};

                    top: {{ top_CSS }};
                    right: {{ right_CSS }};
                    bottom: {{ bottom_CSS }};
                    left: {{ left_CSS }};
                    transform: {{ transform_CSS }};
                    margin-top: {{ margin_top_CSS  }}px;
                    margin-right: {{ margin_right_CSS  }}px;
                    margin-bottom: {{ margin_bottom_CSS  }}px;
                    margin-left: {{ margin_left_CSS  }}px;
                  "
                >
                  {%- if block.settings.link != blank and block.settings.link_text != blank -%}
                    <div class="video-hero__button animate">
                      <a href="{{ block.settings.link }}" class="btn btn--primary btn--large">
                        {{ block.settings.link_text }}
                      </a>
                    </div>
                  {%- endif -%}

                </div>
            {%- endcase -%}

          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Video Hero",
    "tag": "section",
    "class": "shopify-section--stackable shopify-section--contrast offset-section",
    "settings": [
      {
        "type": "range",
        "id": "desktop_height",
        "label": "Height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "mobile_height",
        "label": "Mobile height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Video link",
        "label": "Video link",
        "info": "Use a direct link to an .mp4 video file"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image fallback"
      },
      {
        "id": "alignment",
        "type": "select",
        "label": "Text alignment",
        "options": [
          { "label": "t:sections.video_hero.settings.alignment.options__1.label", "value": "left_top" },
          { "label": "t:sections.video_hero.settings.alignment.options__2.label", "value": "center_top" },
          { "label": "t:sections.video_hero.settings.alignment.options__3.label", "value": "right_top" },
          { "label": "t:sections.video_hero.settings.alignment.options__4.label", "value": "left_center" },
          { "label": "t:sections.video_hero.settings.alignment.options__5.label", "value": "center_center" },
          { "label": "t:sections.video_hero.settings.alignment.options__6.label", "value": "right_center" },
          { "label": "t:sections.video_hero.settings.alignment.options__7.label", "value": "left_bottom" },
          { "label": "t:sections.video_hero.settings.alignment.options__8.label", "value": "center_bottom" },
          { "label": "t:sections.video_hero.settings.alignment.options__9.label", "value": "right_bottom" }
        ],
        "default": "left_center"
      },
      {
        "type": "range",
        "id": "overlay_shadow",
        "label": "Text shadow amount",
        "unit": "%",
        "min": 0,
        "max": 60,
        "step": 5,
        "default": 20
      },
      {
        "type": "header",
        "content": "COLOR"
      },
      {
        "id": "color_text",
        "type": "color",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#FFFFFF"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#181818"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay opacity",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "Video Hero"
          },
          {
            "id": "heading_text_size",
            "type": "range",
            "label": "Heading size",
            "unit": "px",
            "min": 12,
            "max": 72,
            "step": 2,
            "default": 20
          },
          {
            "id": "text_max_width",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 60,
            "step": 2,
            "default": 40
          },
          {
            "id": "letter_spacing",
            "type": "range",
            "label": "Letter Spacing",
            "min": 0,
            "max": 30,
            "step": 2,
            "default": 8
          },
          {
            "type": "header",
            "content": "POSITION"
          },
          {
            "id": "position",
            "type": "select",
            "label": "Top/Bottom/Left/Right/Center",
            "options": [
              { "label": "Top", "value": "top" },
              { "label": "Right", "value": "right" },
              { "label": "Bottom", "value": "bottom" },
              { "label": "Left", "value": "left" },
              { "label": "Center", "value": "center" }
            ],
            "default": "center"
          },
          {
            "id": "position_top",
            "type": "range",
            "label": "Top Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_right",
            "type": "range",
            "label": "Right Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_bottom",
            "type": "range",
            "label": "Bottom Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_left",
            "type": "range",
            "label": "Left Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          }
        ]
      },
      {
        "type": "subheading",
        "name": "Subheading",
        "limit": 1,
        "settings": [
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Feature seamless auto-playing hero videos in this space.</p>"
          },
          {
            "id": "text_max_width",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 40
          },
          {
            "id": "subheading_text_size",
            "type": "range",
            "label": "SubHeading size",
            "unit": "px",
            "min": 2,
            "max": 72,
            "step": 2,
            "default": 8
          },
          {
            "id": "letter_spacing",
            "type": "range",
            "label": "Letter Spacing",
            "min": 0,
            "max": 30,
            "step": 2,
            "default": 8
          },
          {
            "type": "header",
            "content": "POSITION"
          },
          {
            "id": "position",
            "type": "select",
            "label": "Top/Bottom/Left/Right/Center",
            "options": [
              { "label": "Top", "value": "top" },
              { "label": "Right", "value": "right" },
              { "label": "Bottom", "value": "bottom" },
              { "label": "Left", "value": "left" },
              { "label": "Center", "value": "center" }
            ],
            "default": "center"
          },
          {
            "id": "position_top",
            "type": "range",
            "label": "Top Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_right",
            "type": "range",
            "label": "Right Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_bottom",
            "type": "range",
            "label": "Bottom Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_left",
            "type": "range",
            "label": "Left Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          }
        ]
      },
      {
        "type": "button",
        "name": "Button name",
        "limit": 1,
        "settings": [
          {
            "id": "link_text",
            "type": "text",
            "label": "Link Text",
            "default": "Shop now"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link URL"
          },
          {
            "type": "header",
            "content": "POSITION"
          },
          {
            "id": "position",
            "type": "select",
            "label": "Top/Bottom/Left/Right/Center",
            "options": [
              { "label": "Top", "value": "top" },
              { "label": "Right", "value": "right" },
              { "label": "Bottom", "value": "bottom" },
              { "label": "Left", "value": "left" },
              { "label": "Center", "value": "center" }
            ],
            "default": "center"
          },
          {
            "id": "position_top",
            "type": "range",
            "label": "Top Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_right",
            "type": "range",
            "label": "Right Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_bottom",
            "type": "range",
            "label": "Bottom Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          },
          {
            "id": "position_left",
            "type": "range",
            "label": "Left Position(-100,100)",
            "min": -100,
            "max": 100,
            "step": 2,
            "default": 0
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video Hero",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "subheading"
          }
        ]
      }
    ]
  }
{% endschema %}